#gamecontainer {
    margin-left: auto;
    margin-right: auto;
  width:600px;
  height:600px;
  background: url(img/splashscreen.png);
  border: 1px solid black;
}

.gamelayer {
  width:600px;
  height:600px;
  position:absolute;
}

/* Game Starting Menu Screen */
#gamestartscreen {
  padding-top:300px;
  text-align:center;
}

#gamestartscreen img {
  margin:10px;
  cursor:pointer;
}

/* Level Selection Screen */
#levelselectscreen {
  padding-top:150px;
  padding-left:50px;  
}

#levelselectscreen input {
  margin:20px;
  cursor:pointer;
  background:url(img/icons/level.png) no-repeat;
  color:yellow;
  font-size: 20px;
  width:64px;
  height:64px;
  border:0;
}

/* Loading Screen */
#loadingscreen {
  background:rgba(100,100,100,0.3); 
}

#loadingmessage {
  margin-top:400px;
  text-align:center;
  height:48px;
  color:white;
  background:url(img/loader.gif) no-repeat center;
  font:12px Arial;
}

/* Score Screen */
#scorescreen  {
    height:60px;
    font: 32px Helvetica;
    text-shadow: 0 0 2px #000;
  color:white;
}


#scorescreen img{
    opacity:0.6;
    top:10px;
    position:relative;
    padding-left:10px;
    cursor:pointer;
}

#scorescreen #score {
  position:absolute;
  top:5px;
  right:20px;
}

#startinfo {
  padding-top:510px;
   text-align:center;
  font: 32px Helvetica;
}